:root{
  --light-blue:#00FFFF;
  --yellow:#F5CD19;
  --red:#FF0707;
  --yellow-text:#ddc96d;
  --red-text:#af4747;
  --grey-light:#777;
  --grey-dark:#555;
  --green:#50fc1c;
  --black-background: #1f1f1f;
  --black-transparent:rgba(66, 66, 66, 0.5);
  --white-text:#afafaf;
  --grey-background:rgb(59, 59, 59);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body{
  overflow: hidden;
}

.bar{
  background-color: var(--grey-background);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 100%;
}

